
.header {
    display: flex;
    flex-direction: column; /* Keep it as a column layout */
    justify-content: flex-start; /* Space elements evenly */
    align-items: center; /* Center-align items horizontally */
    padding: 0;
    background-image: url(images/tesla-home-img1.avif); /* Background image */
    background-size: cover; 
    background-position: center;
    height: 100vh; /* Full height of viewport */
    color: white; /* Text color for visibility */
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-right: auto;
    margin-left: 3rem;
    margin-top: 0%;
}
.logo-image {
    filter: brightness(0) invert(1);
    padding: 2px;
    height: 36px;
    width: 122px;
    margin: 1rem 0;
   
}


.body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.center-nav {
    padding-left: 10rem;
}
.menu-list {
    list-style-type: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
    align-items: center;
    
}
.right-menu-list {
    gap: 7px;
    list-style-type: none;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    padding-right: 2rem;
}


.globe {
    height: 23px;
    width: 23px;
    filter: brightness(0) invert(1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    position: absolute;
    top: 0;
    z-index: 1;
}


.center-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: white; 
    font-weight: 590;
    font-size: 13px; 
    
}

.menu-list li:hover {
    background: rgba(177, 170, 170, 0.247);
    border-radius: 3px;
    padding: 8px 15px;
}


.icon {
    filter: brightness(0) invert(1);
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}
.home-img {
   width: 100%;
   height: 100%;
}
.model {
   
    position: absolute;
    text-align: center;
    margin-top: 45px;
    font-size: 28px;
}
.model-head {
   
    font-size: 55px; 
    color: white; 
    font-weight: 790;
    
}
.price {
    margin: none;
    font-weight: 800
}
.price2 {
    font-size: 20px;
}
.buttons {
    margin-top: 500px;
    word-spacing:10px;
    
    
}
.btn1 {
    background-color:#5658e6; /* Green */
    border-radius: 6px;
    width: 200px;
    height: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    
}
.btn2 {
    background-color:#fcfcfc; /* Green */
    border-radius: 6px;
    width: 200px;
    height: 12px;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    color: rgb(65, 62, 62); 
    padding: 15px 32px;
}